#navbar navbar-expand-sm bg-dark navbar-dark {
    position: fixed;
    top: 0px;
    width: 100%;
}​

.carouselslide {
    width: 100%;
    height: 200px;
}

.overlay { 
    color:#fff;
    position:absolute;
    z-index:2;
    top:25%;
    left:0;
    width:100%;
    text-align:center;
    
  }

.jumbotron {
    text-align: center;
    height: 50px;
}


